html, body {
  height: 100%;
  background-color: #002b36;
  margin: 0;
}

.content {
  min-height: 100%;
  margin-top: -50px;
  padding-top: 70px;
  margin-bottom: -70px;
  padding-bottom: 70px;
}

nav {
  background-color: #001b26;
}

div.input-group>select.custom-select {
  flex: 0.1 1 100px;
}

.table {
  margin-top: 1rem;
}

.nav-item .badge {
  margin-right: 2px;
  font-size: 100% !important;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}

.footer{
  height: 70px;
}
